<%=render 'shared/errors', object: @user %>

<div class='row'>
  <div class="well col-xs-4" >
    <%=form_for @user do |f| %>
      <div class='form-group'>
        <%=f.label :username %>
        <%=f.text_field :username, class: 'form-control' %>
      </div>

      <div class='form-group'>
        <%=f.label :password %>
        <%=f.password_field :password, class: 'form-control' %>
      </div>

      <div class='form-group'>
        <%=f.label :time_zone %>
        <br />
        <%=f.time_zone_select :time_zone, ActiveSupport::TimeZone.us_zones, default: Time.zone.name, class: 'form-control' %>
      </div>
      

      <%= f.submit @user.new_record? ? "Register" : "Update", class:'btn btn-success' %>
    <% end %>
  </div>
</div>