<%= render "shared/errors", object: @room %>

<div class="well">
  <%= form_for @room, html: {multipart: true} do |f| %>
     
    <div class="row">
      <div class="col-xs-4 form-group">
        <%=f.label :title, "room title" %>
        <%=f.text_field :title, class: "form-control" %>
      </div>
    </div>

    <div class="row">
      <div class="col-xs-4 form-group">
        <%=f.label :summary, "room summary" %>
        <%=f.text_area :summary, class: "form-control" %>
      </div>
    </div>

    <div class="row">
      <div class="col-xs-4 form-group">
        <%=f.label :description, "room description" %>
        <%=f.text_area :description, class: 'form-control', rows: 5 %>
      </div>
    </div>

    <div class="row">
      <div class='col-xs-4 form-group'>
        <%=f.label :image, "Upload a recent picture of the room" %>
        <%=f.file_field :image, class: 'form-control' %>
      </div>
    </div>

    <div class="row">
      <div class='col-xs-4 form-group'>
        <%=f.label :status, "Current Status" %>
        <%=f.select :status, options_for_select([['Taken', 'Taken'],['Available', 'Available']], @room.status), class: 'form-control' %>  <!--before class, you can have {include_blank: true} so by default nothing will be selected, IF YOUR DATABASE TABLE HAS NO DEFAULT DATA, right now the status column is defaulted to Pending, which is why Pending is selected during new application form-->
    </div>

    <%= f.submit "submit", class: "btn btn-primary" %>

  <% end %>
</div>