<%= render "shared/content_title" , title: "bugs details - #{@bug.title}" %>

<%= render 'shared/errors', object: @comment %>
<div class="row">
  <div class="col-xs-6">
    <div class="well">
      <%= preserve_linebreak @bug.body %>
    </div>
    <%= form_for [@bug, @comment] do |f| %>
      <div class="form-group">
        <%= f.label :body, "Leave a comment" %>
        <%= f.text_area :body, rows: 3, class: "form-control" %>
      </div>
      <%=f.submit "Create Comment", class: 'btn btn-primary' %>
    <% end %>
  </div>
</div>
<hr />

<%= render @bug.comments %>