<!DOCTYPE html>
<html>
  <head>
    <title>TenantManagement</title>
    <%= stylesheet_link_tag    "application", media: "all", "data-turbolinks-track" => true %>
    <%= javascript_include_tag "application", "data-turbolinks-track" => true %>
    <%= csrf_meta_tags %>
  </head>
  <body>
    <% if params[:show_application_only] == true %>
      <%= render 'layouts/navbar2' %>
    <% else %>
      <%= render 'layouts/navbar' %>
    <% end %>

    <div class="container">
      <!-- for the flash message and enable the customer to close the box-->
      <%= render 'shared/flash' %>
      <!--div class="jumbotron"-->
      <%= yield %>
      <!--/div-->
    </div>
  </body>
</html>


